.case-study-container {
    align-items: start;
  }
  
  .portfolio {
    margin-left: 40px;
    color: #009dff;
  }
  
  .title3 {
    margin-left: 40px;
    font-size: 48px;
    font-weight: bolder;
  }
  
  .card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card2 {
    position: relative;
    width: 300px;
    margin: 15px;
    border-radius: 5%;
    overflow: hidden;
    transition: transform 0.3s;
  }
  
  .card2 img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .overlay2 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .card2:hover .overlay2 {
    transform: translateY(0);
  }
  
  .text2 {
    color: white;
    position: absolute;
    bottom: 0;
    padding: 20px;
    width: 100%;
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.5s ease-in-out;
  }
  
  .card2:hover .text2 {
    transform: translateY(0);
  }
  