.input-services-container {
    height: 400px;
    width: 100%;
    background-image: url('https://img.freepik.com/free-vector/white-abstract-background_23-2148844576.jpg?w=900&t=st=1718522757~exp=1718523357~hmac=34f4e8408ab088f16798948c9a15e174917071fbcb87f91073b9798311181b44');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .ser-head {
    font-size: 48px;
    font-weight: bolder;
  }
  
  .ser-name {
    color: #009dff;
    font-weight: bolder;
  }
  
  .parent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .input-field {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    width: 250px;
    display: flex;
    align-items: center;
  }
  
  .input-field .icon {
    font-size: 20px;
    margin-right: 10px;
    color: #555;
  }
  
  .input-field input {
    border: none;
    outline: none;
    font-size: 16px;
    color: #555;
    flex-grow: 1;
  }